#container {
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
}


ion-grid{
  margin: 5px;
}

ion-col{
  border-bottom: thin solid blue;
  font-size: .9rem;
}

.carregando{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px  ;
  transform: translate(-50%, -50%);
}